<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Profile Page</h1>
    <p>Email: {{.Email}}</p>
    <p>Address: {{.Address}}</p>
    <p>Job: {{.Job}}</p>
    <p>Reason: {{.Reason}}</p>
    <form action="/" method="get">
        <button class="logout" type="submit">Logout</button>
    </form>
</body>
</html>